/* GLOBAL SETUP*/

body {
  border-top: 8px solid #49b3bf;
  background: #1b1b1b;
  font-family: "Open Sans", sans-serif;
  color: #333333;
}

.centercontent {
  max-width: 1220px;
  margin: auto;
  background: rgb(238, 238, 233);
  padding: 10px;
  border: 2px solid rgba(87, 87, 87, 0.836);
  border-radius: 25px;
}

.centercontent p {
  margin: 20px;
  margin-top: 50px;
  padding: 30px;
  align-content: left;
}

.vl {
  border-left: 2px dotted rgb(121, 121, 121);
  height: 200px;
  position: relative;
  left: 50%;
  margin-left: -3px;
  top: 0;
  float: left;
}

.centercontent h1 {
  font-size: 30px;
  margin: 20px;
  font-weight: bold;
}

p {
  margin: 5px 0;
  line-height: 25px;
}

a {
  text-decoration: none;
  color: #8c857b;
  transition: color 0.5s ease;
  font-size: 18px;
}

strong {
  font-weight: bold;
}

/* HEADER */

header {
  position: relative;
  margin: 0 auto 20px auto;
  width: 960px;
}

header h1 {
  margin: 35px 0 0 0;
  font-size: 60px;
  color: #49b3bf;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.15em;
}

header p {
  font-family: "Courier New", Courier, monospace;
  font-size: 21px;
  color: #8c6746;
  margin-left: 60px;
  font-weight: bold;
}

nav {
  position: absolute;
  right: 55px;
  bottom: 0;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: block;
  float: left;
  padding: 3px 15px;
}

nav ul li a {
  font-family: "Source Code Pro", monospace;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.25s ease;
}

nav ul li a:hover {
  color: #49b3bf;
}

#mobileMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
}

#mobileMenu ul li {
  display: block;
  background-color: whitesmoke;
  color: #fff;
  padding: 12px 0;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid #49b3bf;
}

.toggleMobile {
  display: none;
}

/*3 COLUMNS*/

#boxcontent {
  width: auto;
  max-width: 1220px;
  margin: 0 auto;
  padding: 70px 0 45px 0;
}

#boxcontent article {
  float: left;
  width: 350px;
  margin-right: 45px;
  font-size: 15px;
}

#boxcontent article h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  margin-bottom: 15px;
  margin-left: 60px;
}

#boxcontent article p {
  line-height: 16px;
  font-family: "Open Sans", sans-serif;
  margin-left: 25px;
  line-height: 1.3;
}

/* BUTTONS */

.button {
  padding: 7px 14px;
  border: 1px solid #c3532e;
  background-image: linear-gradient(to bottom, #e56038 0%, #ff8c66 100%);
  background-image: linear-gradient(to bottom, #ff8c66 0%, #e56038 100%);
  background-color: #eb653c;
  color: #ebe8de;
  text-shadow: 1px 1px 0px #ff8155;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
}

.button:hover {
  background: none #ebe8de;
  border-color: #ebe8de;
  text-shadow: none;
  color: #4a463b;
}

/******************************************************************************************/
/* SPACER */

#spacergray {
  margin: 35px 0 0 0;
  font-size: 40px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.15em;
}

#spacer {
  width: auto;
  height: 30px;
  background-color: #49b3bf;
  position: relative;
  font-family: "IBM Plex Sans", sans-serif;
  color: #fff;
  font-size: 30px;
  margin-left: 95px;
  margin-right: 95px;
}

#spacer p {
  margin-top: 5px;
  width: auto;
  position: relative;
  /*  left: 20%;*/
  text-align: center;
  /* margin-left: -450px;*/
  font-weight: bold;
}

/*search bar 

#spacer.search {
        margin-top: 15px;
        width: auto;
        position: absolute;
        right: 50%;
        margin-right: -480px;
}

/********************************************************************************************/
/* 
************************************************************************/
.thumb-screen {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 113px;
  background: #000 url(img/zoom.png) center center no-repeat;
  z-index: 99;
  opacity: 0;
  transition: opacity 0.5s ease;
}

/****************************************************************************/

.thumb-screen:hover {
  opacity: 0.5;
}

/* FOOTER */

footer {
  position: relative;
  clear: both;
  width: auto;
  height: 130px;
  background: #333333;
}

footer .wrapper {
  line-height: 15px;
  margin: 0 auto;
  padding-top: 30px;
  width: auto;
  max-width: 1220px;
  font-size: 30px;
}

footer .wrapper .column {
  font-family: "Open Sans", sans-serif;
  color: #49b3bf;
  float: left;
  width: auto;
  margin-right: 20px;
}

footer .wrapper .column h4 {
  font-size: 16px;
  color: rgb(202, 202, 202);
  border-bottom: 1px solid #444444;
  padding: 0 0 10px 0;
  margin-bottom: 10px;
}

/*************************************************************/

/* SKIPLINK */
.go-top {
  position: fixed;
  bottom: 2em;
  right: 2em;
  text-decoration: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 12px;
  padding: 1em;
  display: none;
}

.go-top:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

/* MISC */
.clear {
  clear: both;
}

.hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  /* IE6 & 7 */
  clip: rect(1px, 1px, 1px, 1px);
}

/* MEDIA QUERIES FOR A RESPONSIVE LAYOUT */

@media (max-width: 1215px) {
  #slider_content1,
  #slider_content2,
  #slider_content3 {
    width: auto;
    margin-right: 50px;
  }

  #slider_content1 h2,
  #slider_content2 h2,
  #slider_content3 h2 {
    font-size: 18px;
  }

  #slider_content1 p,
  #slider_content2 p,
  #slider_content3 p {
    font-size: 14px;
  }

  #slider_content1 p .responsive_button,
  #slider_content2 p .responsive_button,
  #slider_content3 p .responsive_button {
    display: inline;
  }

  .container .button {
    display: none;
  }
}

@media (max-width: 915px) {
  #boxcontent article {
    float: none;
    margin: 30px auto 0 auto;
    width: 60%;
  }

  #spacer {
    font-size: 15px;
  }

  #spacer .search {
    margin-top: 19px;
    margin-right: -385px;
  }

  #spacer p {
    margin-left: -370px;
  }

  #text_columns article.column1,
  #text_columns .column2 {
    float: none;
    max-width: 1000px;
    margin: 50px 30px 0 30px;
  }

  .column2 .row {
    float: none;
    margin: 0 0 40px 50px;
  }

  footer .wrapper .column {
    font-size: 12px;
    width: 230px;
  }
}

@media (max-width: 765px) {
  .container {
    height: 1px;
    top: -1500px;
  }

  header {
    height: 120px;
  }

  header nav {
    right: auto;
    bottom: auto;
    left: 50%;
    top: 100px;
    margin-left: -184px;
  }

  #spacer {
    height: 100px;
  }

  #spacer p {
    text-align: center;
    position: static;
    margin: 0 auto;
    padding: 15px 0 7px 0;
  }

  #spacer .search {
    text-align: center;
    position: static;
    margin: 0 auto;
  }

  footer {
    padding-bottom: 70px;
    height: auto;
  }

  footer .wrapper {
    width: 350px;
    margin: 0 auto;
  }

  footer .wrapper .column {
    margin-top: 30px;
    float: none;
    font-size: 14px;
    width: auto;
  }

  footer .wrapper .social {
    display: none;
  }
}

@media (max-width: 500px) {
  header {
    margin-top: 80px;
    text-align: center;
  }

  #spacer {
    height: auto;
    padding-bottom: 15px;
  }

  #four_columns {
    width: auto;
  }

  #four_columns .img-item {
    width: 200px;
    float: none;
    margin: 25px auto 0 auto;
  }

  #four_columns h2 {
    margin: 0 30px;
  }

  .column2 .row {
    margin: 0 0 40px 10px;
    width: auto;
  }

  /*******************************************************************************/
  footer .wrapper {
    width: auto;
  }

  footer .wrapper .column {
    margin: 0 auto 15px auto;
    max-width: 300px;
  }

  input {
    width: auto;
  }

  #mobileMenu {
    display: block;
    z-index: 99;
  }

  .toggleMobile {
    position: fixed;
    top: 10px;
    left: 10px;
    display: block;
    width: 40px;
    height: 36px;
    cursor: pointer;
    z-index: 999;
  }

  .toggleMobile span.menu1,
  .toggleMobile span.menu2,
  .toggleMobile span.menu3 {
    display: block;
    position: absolute;
    width: 40px;
    height: 8px;
    left: 0;
    background: #49b3bf;
    -webkit-transition: all 0.35s cubic-bezier(0.75, 0.25, 0.1, 0.95);
    transition: all 0.35s cubic-bezier(0.75, 0.25, 0.1, 0.95);
  }

  .toggleMobile span.menu1 {
    top: 0;
  }

  .toggleMobile span.menu2 {
    top: 14px;
  }

  .toggleMobile span.menu3 {
    top: 28px;
  }

  .toggleMobile.active span.menu1 {
    top: 14px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.35s cubic-bezier(0.75, 0.25, 0.1, 0.95);
    transition: all 0.5s cubic-bezier(0.75, 0.25, 0.1, 0.95);
  }

  .toggleMobile.active span.menu2 {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: all 0.35s cubic-bezier(0.75, 0.25, 0.1, 0.95);
    transition: all 0.5s cubic-bezier(0.75, 0.25, 0.1, 0.95);
  }

  .toggleMobile.active span.menu3 {
    opacity: 0;
    -webkit-transition: opacity 0.35s cubic-bezier(0.75, 0.25, 0.1, 0.95);
    transition: opacity 0.35s cubic-bezier(0.75, 0.25, 0.1, 0.95);
  }

  header nav {
    display: none;
  }

  header h1 {
    font-size: 40px;
  }

  header p {
    margin-left: 60px;
    font-size: 14px;
  }
}

/* KEYFRAMES */

@keyframes stylie-transform-keyframes {
  0% {
    transform: translateX(30px) translateY(46px) rotate(0deg)
      translate(-50%, -50%);
    animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75);
  }

  100% {
    transform: translateX(260px) translateY(-150px) rotate(0deg)
      translate(-50%, -50%);
  }
}

@keyframes stylie-transform2-keyframes {
  0% {
    transform: translateX(40px) translateY(40px) rotate(0deg)
      translate(-50%, -50%);
    animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75);
  }

  100% {
    transform: translateX(50px) translateY(40px) rotate(0deg)
      translate(-50%, -50%);
  }
}
